body.dark {
    --flexcyon-base-01: #14161c;
    --flexcyon-base-02: #191d28;
    --flexcyon-base-03: #24262c;
    --flexcyon-base-04: #4d566b;
    --flexcyon-base-05: #6f7685;

    --flexcyon-base-grey-dark: #898c93;
    --flexcyon-base-grey-light: #d3d5d3;
}
body {
    background-color: #191d28;
    color: #d3d5d3;
}

body.light {
    --flexcyon-base-01: #faf7ef;
    --flexcyon-base-02: #edebe5;
    --flexcyon-base-03: #dddcd6;
    --flexcyon-base-04: #d3d3ce;
    --flexcyon-base-05: #b4b3af;
    /* ------------------------------ */
    --flexcyon-base-grey-dark: #797876;
    --flexcyon-base-grey-light: #080808;
}

body.dark {
    --flexcyon-cyan: #3cb9c2;
    --flexcyon-lime-green: #a1c05c;
    --flexcyon-orange: #cc8449;
    --flexcyon-yellow: #c29e42;
    --flexcyon-purple-lilac: #a461c8;
    --flexcyon-red-salmon: #c03a47;
    --flexcyon-blue: #5a8fcd;
    --flexcyon-pink: #d458a3;
}

body.light {
    --flexcyon-cyan: #3b9ba1;
    --flexcyon-lime-green: #689523;
    --flexcyon-orange: #ed8126;
    --flexcyon-yellow: #e8c62a;
    --flexcyon-purple-lilac: #6f49ae;
    --flexcyon-red-salmon: #eb5325;
    --flexcyon-blue: #5c9fe4;
    --flexcyon-pink: #e389ca;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
