body {
  background-color: var(--bg-color);
  --text-normal: var(--flexcyon-base-grey-light);
  --text-faint: color-mix(in oklch, var(--flexcyon-base-grey-light), #6f768599);
  color: var(--text-normal);
  will-change: scroll-position;
  font-family: var(--font-sans);
  font-size: var(--font-size-sans);
  margin: 0 auto;
  inline-size: 100%;
  max-inline-size: 75vw;
  line-height: 1.25;
  padding: 1em 0;
  background-image:
    repeating-linear-gradient(0deg, var(--flexcyon-bg-col),
    var(--flexcyon-bg-col) 1px, transparent 1px, transparent 15px),
    repeating-linear-gradient(90deg, var(--flexcyon-bg-col),
    var(--flexcyon-bg-col) 1px, transparent 1px, transparent 15px)
  ;
}

@media (width < 1000px) {
  body {
    max-inline-size: 80vw;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

a {
  color: var(--flexcyon-blue);
}

.sort-dropdown, .astro-code span, blockquote,
em, strong, div span, a, h1, h2, h3, h4, h5, h6, code {
  font-family: var(--font-mono);
}

.astro-code {
  border-radius: 4px;
}

.astro-code .line {
  display: block;
  white-space: pre;
  padding: 4px 8px;
}

li {
  line-height: 1.65;
}

body.theme-dark .astro-code,
body.theme-dark .astro-code span {
  color: var(--shiki-dark) !important;
}
body.theme-dark .astro-code {
  background-color: var(--shiki-dark-bg) !important;
}

blockquote {
  background-color: var(--flexcyon-base-03);
  max-width: 45vw;
  margin-left: 0;
  padding: 1px 16px;
  border-radius: 16px;
}

h1, h2, h3, h4, h5, h6,
pre.astro-code,
div, p, em, ul {
  max-width: 45vw;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  line-height: 1.35;
  font-size: 16px;
}

@media (width < 1000px) {
  blockquote, pre.astro-code, div, p, em, ul {
    max-width: 85vw;
  }
}

p {
  margin-bottom: 1.25em;
}

h1 {
  font-size: var(--h1-size, 1.81803em);
  font-weight: 700;
  line-height: 1.61;
  color: var(--h1-color, var(--flexcyon-blue));
  padding: 1rem 0;
}
h2 {
  font-size: var(--h2-size, 1.61803em);
  font-weight: 675;
  line-height: 1.41;
  color: var(--h2-color, var(--flexcyon-purple-lilac));
  padding-top: 1rem;
}
h3 {
  font-size: var(--h3-size, 1.41803em);
  font-weight: 650;
  line-height: 1.31;
  color: var(--h3-color, var(--flexcyon-cyan));
  padding-top: 1rem;
}
h4 {
  font-size: var(--h4-size, 1.21803em);
  font-weight: 625;
  line-height: 1.21;
  color: var(--h4-color, var(--flexcyon-pink));
  padding-top: 1rem;
}
h5 {
  font-size: 1.11803em;
  font-weight: 600;
  line-height: 1.11;
  color: var(--flexcyon-lime-green);
}
h6 {
  font-size: 1.01803em;
  font-weight: 575;
  line-height: 1.01;
  color: var(--flexcyon-yellow);
}

hr {
  color: var(--text-faint);
  opacity: 0.55;
  max-width: 45vw;
  margin-left: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media (width < 1000px) {
  hr, p.foot, footer {
    max-width: 85vw;
  }
}

@media (width < 1000px) {
  img {
    max-width: 85vw;
  }
}

img {
  max-width: 45vw;
}

strong {
  color: var(--flexcyon-red-salmon);
  font-weight: 900;
}

em {
  color: var(--text-accent);
}
code {
  font-size: var(--font-size-mono, 1rem);
  background-color: var(--flexcyon-base-03);
}
