.blog-card {
  max-width: 200%;
  padding: 0 1.5rem;
  margin: 1.5rem 0;
  overflow: hidden;
  background-color: var(--flexcyon-base-01-02-mix);
  border-radius: 0.75rem;
}

.blog-card a {
  color: inherit;
  text-decoration: none;
}

.blog-card__title {
  margin-top: 4px;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--flexcyon-cyan);
}

.blog-card__excerpt {
  margin-top: 1.25rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--text-normal);
}

.blog-card__author {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-faint);
}

.blog-card__author-image {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.blog-card:hover {
  box-shadow: 0 1px 2px color-mix(in oklch, var(--text-faint) 15%, transparent 85%);
  transform: scale(1.01);
  transition: box-shadow 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.blog-card__tags,
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.sort-dropdown {
  padding: 0.65em 1em;
  font-size: 1.01803em;
  font-weight: 600;
  color: var(--flexcyon-purple-lilac);
  background-color: var(--flexcyon-base-02);
  border: none;
  border-radius: 16px;
}

select {
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.blog-card__tag,
.tag {
  padding: 0.5em 0.75em;
  margin: 0.25em;
  font-size: 1em;
  line-height: 1.2;
  background-color: var(--flexcyon-base-01-02-mix);
  border-radius: 0.75em;
}

.blog-card__tag {
  margin-bottom: 12px;
  margin-left: 0;
  background-color: color-mix(in oklch, var(--flexcyon-base-03) 35%, transparent 80%);
}

.blog-card__tags {
  padding-top: 12px;
  margin-left: -4px;
}

.blog-card__tags a {
  margin-top: 12px;
  margin-bottom: 6px;
}

.tag a {
  color: var(--text-faint);
  text-transform: none;
  text-decoration: none;
}
