.stron-toc.toc {
  position: fixed;
  top: 12.5vh;
  left: 62vw;
  z-index: 50;
  display: flex;
  flex-direction: column;
  max-width: min(35vw, 25rem);
  background-color: var(--flexcyon-base-01-02-mix);
  border-radius: 8px;
}

.stron-toc.toc.toc-hidden {
  display: none !important;
}

.toc-mobile-button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 60;
  display: none;
  padding: 12px;
  line-height: 0;
  color: var(--flexcyon-orange);
  cursor: pointer;
  background: none;
  border: 0;
}

.toc-overlay {
  position: fixed;
  inset: 0;
  z-index: 55;
  display: none;
  background-color: color-mix(
    in oklch,
    var(--flexcyon-bg-col) 60%,
    transparent 40%
  );
}

@media (width < 1000px) {
  .toc-mobile-button {
    display: block;
  }

  .toc-mobile-button .close-icon {
    display: none;
  }
  .toc-mobile-button.is-active .close-icon {
    display: block;
  }
  .toc-mobile-button.is-active .menu-icon {
    display: none;
  }

  .toc-overlay.is-active {
    display: block;
  }

  #toc-wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 55;
    display: block !important;
    width: 90vw;
    max-width: 600px;
    height: 100vh;
    padding: 2rem;
    overflow-y: auto;
    background: var(--flexcyon-base-01-02-mix);
    transition:
      box-shadow 0.35s ease-in-out,
      transform 0.35s ease-in-out;
  }

  #toc-wrapper.is-active {
    right: 0;
    visibility: visible;
  }

  #toc-wrapper:not(.is-active) {
    visibility: hidden;
  }

  .stron-toc.toc {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
  }

  .no-scroll {
    overflow: hidden;
  }
}

#toc-title {
  display: block;
  width: 100%;
  padding-inline: 32px;
  padding-top: 0;
  color: var(--text-accent);
}

.toc-content {
  display: block;
  width: 100%;
  max-height: 70vh;
  padding-left: 7.5%;
  overflow: auto;
}

.toc-link.toc-current {
  font-weight: bold;
  color: var(--flexcyon-blue);
  opacity: 1;
}

.toc-content::-webkit-scrollbar {
  display: none;
}

.toc-content ul {
  padding-left: 0;
}

.toc-content ul li {
  position: relative;
  padding-left: 1em;
  list-style: none;
}

.toc-content ul li::before {
  position: absolute;
  left: -0.1em;
  font-family: DepartureMono, "Maple Mono Medium", ui-monospace, monospace;
  color: var(--text-faint);
  content: "♦";
}

.toc-content ul li:last-child::before {
  content: "✦";
}

.toc-content ul li a {
  padding-left: 0.75em;
  box-decoration-break: clone;
  text-decoration: none;
}

.toc-content li ul li {
  opacity: 0.85;

  &:hover,
  :focus {
    opacity: 1;
  }

  a {
    color: var(--flexcyon-purple-lilac);
  }
}

.toc-content li ul li ul li {
  opacity: 0.75;

  &:hover,
  :focus {
    opacity: 1;
  }

  a {
    color: var(--flexcyon-cyan);
  }
}

.toc-content li ul li ul li ul li {
  opacity: 0.95;

  &:hover,
  :focus {
    opacity: 1;
  }

  a {
    color: var(--flexcyon-pink);
  }
}
