a:has([class*="cta"]) {
    font-size: 1.15rem;
    font-weight: 900;
    color: var(--text-normal);
    text-decoration: none;
    text-shadow: 2px 4px 2px 4px;
}

p[class*="cta"] {
    max-inline-size: 60%;
    padding: 6px 12px;
    margin-bottom: 4px;
    border-radius: 12px;

    svg {
      color: var(--text-normal);
    }
}

p.cta {
    background-color: color-mix(in oklch, var(--text-accent) 55%, transparent);
}

p.cta2 {
    background-color: color-mix(in oklch, var(--flexcyon-lime-green) 55%, transparent);
}

p.cta3 {
    background-color: color-mix(in oklch, var(--flexcyon-purple-lilac) 55%, transparent);
}

.active-line-highlight {
    padding: 4px 8px;
    background-color: color-mix(in oklch, var(--flexcyon-yellow) 12.5%, transparent) !important;
    border-radius: 4px;
    opacity: 1; 
    transition: background-color 0.55s ease-in, opacity 0.5s ease-in-out;
}

.active-line-highlight img {
  padding-right: 16px;
}

body {
  --anim-slide-amt: 56.6311px;
  --anim-duration: 300ms;
  --anim-easing: ease-in-out;
}

@keyframes slide-in-left {
  0% {
    opacity: 0.55;
    transform: translateX(calc(var(--anim-slide-amt)) * -1);
  }

  100% {
    opacity: 1; 
    transform: translateX(0);
  }
}

.content-wrapper {
  animation: slide-in-left var(--anim-duration) var(--anim-easing);
}
