---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "bladeacer's Portfolio";
---
<BaseLayout pageTitle={pageTitle}>
  <h3>About this Site</h3>
  <p> 
    This site will contain my portfolio, projects and blog posts about my <em>experiences with software</em>.
    Viewing experience for this site is <strong>more optimised on desktop</strong>, tablets and larger devices.
  </p>
  <p>
    This is site is a work in progress (WIP). 
    I do write drafts on here from this time, which may be in various states of completion. Older posts are much more likely to be complete.
  </p>

  <h3>License</h3>
  <p>
    This site's content is licensed under the <strong>CC BY-SA 4.0 license</strong>.  There is a link to the license text you can click at the footer.
  </p>
  <p>
    This site's source code is licensed under the <strong>MIT license</strong>.
  </p>
  <p>
    The source code is available on
    <a href="https://gitlab.com/bladeacer/portfolio" target="_blank">GitLab</a> and as a mirror on
    <a href="https://github.com/bladeacer/portfolio" target="_blank">GitHub</a>.
  </p>
  
  <h3 id="shortcuts">Shortcuts</h3>
  <p>This site has its own set of keyboard shortcuts you can use which are heavily inspired by Vim and Vimium.</p>
  <h4>Scrolling</h4>
  <table>
      <thead>
          <tr>
              <th>Trigger</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>j</td>
              <td>Scroll up*</td>
          </tr>
          <tr>
              <td>k</td>
              <td>Scroll down*</td>
          </tr>
          <tr>
              <td>&#123;</td>
              <td>Scroll up to previous section*</td>
          </tr>
          <tr>
              <td>&#125;</td>
              <td>Scroll down to next section*</td>
          </tr>
          <tr>
              <td>gg</td>
              <td>Scroll to the top</td>
          </tr>
          <tr>
              <td>G</td>
              <td>Scroll to the bottom</td>
          </tr>
      </tbody>
  </table>
  <p>Note: scrolling only works on selections which <strong>do not exceed</strong> the vertical centre of the top and bottom of this site.</p>
  <p>For the motions with `*`, scrolling <em>x</em> numbers of times is supported. E.g. 5j scrolls down 5 times.</p>
  
  <h4>Navigation</h4>
  <table>
      <thead>
          <tr>
              <th>Trigger</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>h</td>
              <td>Navigate to home page</td>
          </tr>
          <tr>
              <td>a</td>
              <td>Navigate to about page</td>
          </tr>
          <tr>
              <td>d</td>
              <td>Navigate to digital garden</td>
          </tr>
          <tr>
              <td>c</td>
              <td>Navigate to credits page</td>
          </tr>
          <tr>
              <td>#</td>
              <td>Navigate to tags page</td>
          </tr>
          <tr>
              <td>?</td>
              <td>Navigate to this shortcuts table</td>
          </tr>
          <tr>
              <td>r</td>
              <td>Navigate to resume</td>
          </tr>
          <tr>
              <td>&lt;</td>
              <td>Navigate backward one entry in the browser's history stack</td>
          </tr>
          <tr>
              <td>&gt;</td>
              <td>Navigate forward one entry in the browser's history stack</td>
          </tr>
      </tbody>
  </table>

  <h4>Others</h4>
  <table>
      <thead>
          <tr>
              <th>Trigger</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>l</td>
              <td>Highlight active line</td>
          </tr>
          <tr>
              <td>t</td>
              <td>Toggle theme</td>
          </tr>
      </tbody>
  </table>

  <h3>Disclaimer</h3>
  <blockquote>
    <p>
      All content on this site is based on <em>my personal opinions</em> and experiences. 
      You are free to share and feedback to me about the specific posts, but kindly do so according to the license below.
    </p>
  </blockquote>
</BaseLayout>

<script>
  window.onload = function() {
    const hash = window.location.hash; 

    if (hash === '#shortcuts') {
      setTimeout(() => {
        const targetElement = document.getElementById('shortcuts');
        
        if (targetElement) {
          targetElement.scrollIntoView({
            behavior: 'smooth',
            block: 'start' 
          });
        }
        
        window.history.replaceState(null, null, window.location.pathname);
      }, 100);
    }
  };
</script>
