---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "bladeacer's Portfolio";
---
<BaseLayout pageTitle={pageTitle}>
  <h3>About this Site</h3>
  <p> 
    This site will contain my portfolio, projects and blog posts about my <em>experiences with software</em>.
    Viewing experience for this site is <strong>more optimised on desktop</strong>, tablets and larger devices.
  </p>
  <p>
    This is site is a work in progress (WIP). 
    I do write drafts on here from this time, which may be in various states of completion. Older posts are much more likely to be complete.
  </p>

  <h3>License</h3>
  <p>
    This site's content is licensed under the <strong>CC BY-SA 4.0 license</strong>.  There is a link to the license text you can click at the footer.
  </p>
  <p>
    This site's source code is licensed under the <strong>MIT license</strong>.
  </p>
  <p>
    The source code is available on
    <a href="https://gitlab.com/bladeacer/portfolio" target="_blank">GitLab</a> and as a mirror on
    <a href="https://github.com/bladeacer/portfolio" target="_blank">GitHub</a>.
  </p>
  
  <h3>Shortcuts</h3>
  <table>
      <thead>
          <tr>
              <th>Trigger</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>j</td>
              <td>Scroll up</td>
          </tr>
          <tr>
              <td>k</td>
              <td>Scroll down</td>
          </tr>
          <tr>
              <td>gg</td>
              <td>Scroll to the top</td>
          </tr>
          <tr>
              <td>G</td>
              <td>Scroll to the bottom</td>
          </tr>
          <tr>
              <td>&#123;</td>
              <td>Scroll up to previous section</td>
          </tr>
          <tr>
              <td>&#125;</td>
              <td>Scroll down to next section</td>
          </tr>
      </tbody>
  </table>
  <p>This feature is experimental. The page itself also does not dynamically add bottom padding to allow keybind scrolling to the very last DOM element.</p>

  <h3>Disclaimer</h3>
  <blockquote>
    <p>
      All content on this site is based on <em>my personal opinions</em> and experiences. 
      You are free to share and feedback to me about the specific posts, but kindly do so according to the license below.
    </p>
  </blockquote>
</BaseLayout>
