---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "bladeacer's Portfolio";
---

<BaseLayout pageTitle={pageTitle}>
  <h3>About this Site</h3>
  <p> 
    This site will contain my portfolio, projects and blog posts about my <em>experiences with software</em>.
    Viewing experience for this site is <strong>more optimised on desktop</strong>, tablets and larger devices.
  </p>
  <p>
    This is site is a constant work in progress (WIP). 
    I do write drafts on here from this time, which may be in various states of completion. Older posts are more likely to be complete.
  </p>
  <p>
  There are <strong>no plans to add</strong> analytics or tracking to the site. Settings like theme choice and font size are <em>persisted to <kbd>localStorage</kbd></em>. The site does not make use of cookies.
  </p>

  <h3>License</h3>
  <p>
    This site's content is licensed under the <strong>CC BY-SA 4.0 license</strong>.  There is a link to the license text you can click at the footer.
  </p>
  <p>
    This site's source code is licensed under the <strong>MIT license</strong>.
  </p>
  <p>
    The source code is available on
    <a href="https://gitlab.com/bladeacer/portfolio" target="_blank">GitLab</a> and as a mirror on
    <a href="https://github.com/bladeacer/portfolio" target="_blank">GitHub</a>.
  </p>
  
  <h3 id="shortcuts">Shortcuts</h3>
  <p>This site has its own set of keyboard shortcuts you can use which are heavily inspired by Vim and Vimium. All scrolling and yanking motions support a numeric prefix (<code>5j</code>, <code>2yy</code>, etc.).</p>
  <h4>Scrolling</h4>
  <table>
      <thead>
          <tr><th>Trigger</th><th>Action</th></tr>
      </thead>
      <tbody>
          <tr><td><kbd>j</kbd></td><td>Scroll down</td></tr>
          <tr><td><kbd>k</kbd></td><td>Scroll up</td></tr>
          <tr><td><kbd>{</kbd></td><td>Scroll to previous heading</td></tr>
          <tr><td><kbd>}</kbd></td><td>Scroll to next heading</td></tr>
            <tr><td><kbd>gg</kbd></td><td>Scroll to top of page</td></tr>
            <tr><td><kbd>G</kbd></td><td>Scroll to bottom of page</td></tr>
            <tr><td><kbd>zz</kbd></td><td>Center active line in viewport</td></tr>
            <tr><td><kbd>zt</kbd></td><td>Scroll active line to top of viewport</td></tr>
            <tr><td><kbd>zb</kbd></td><td>Scroll active line to bottom of viewport</td></tr>
            <tr><td><kbd>N{</kbd></td><td>Jump backward N headings</td></tr>
            <tr><td><kbd>N}</kbd></td><td>Jump forward N headings</td></tr>
        </tbody>
    </table>
    <p>Numeric prefix: <code>5j</code> scrolls down 5 elements, <code>10k</code> scrolls up 10 elements, <code>3{</code> jumps back 3 headings. Range 1-9 for single digit, or type multiple digits within 1 second.</p>

  <h4>Yanking (Clipboard)</h4>
  <table>
      <thead>
          <tr><th>Trigger</th><th>Action</th></tr>
      </thead>
      <tbody>
          <tr><td><kbd>yy</kbd></td><td>Yank (copy) current element</td></tr>
          <tr><td><kbd>Y</kbd></td><td>Yank entire page</td></tr>
          <tr><td><kbd>y}</kbd></td><td>Yank from current to next heading</td></tr>
          <tr><td><kbd>y{</kbd></td><td>Yank from current to previous heading</td></tr>
          <tr><td><kbd>Nyy</kbd></td><td>Yank N elements (<code>2yy</code> = current + next)</td></tr>
      </tbody>
  </table>

  <h4>Navigation</h4>
  <table>
      <thead>
          <tr>
              <th>Trigger</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr><td><kbd>Enter</kbd></td><td>Open first link under highlighted element</td></tr>
          <tr><td><kbd>h</kbd></td><td>Home page</td></tr>
          <tr><td><kbd>a</kbd></td><td>About page</td></tr>
          <tr><td><kbd>d</kbd></td><td>Digital garden</td></tr>
          <tr><td><kbd>c</kbd></td><td>Credits page</td></tr>
          <tr><td><kbd>#</kbd></td><td>Tags page</td></tr>
          <tr><td><kbd>s</kbd></td><td>Settings page</td></tr>
          <tr><td><kbd>ctrl+,</kbd></td><td>Settings page</td></tr>
          <tr><td><kbd>r</kbd></td><td>Resume / CV</td></tr>
          <tr><td><kbd>!</kbd></td><td>RSS feed</td></tr>
          <tr><td><kbd>em</kbd></td><td>Email</td></tr>
          <tr><td><kbd>li</kbd></td><td>LinkedIn</td></tr>
          <tr><td><kbd>gh</kbd></td><td>GitHub</td></tr>
          <tr><td><kbd>gl</kbd></td><td>GitLab</td></tr>
          <tr><td><kbd>b</kbd></td><td>Codeberg</td></tr>
          <tr><td><kbd>gr</kbd></td><td>Gravatar</td></tr>
          <tr><td><kbd>m</kbd></td><td>Matrix chat</td></tr>
          <tr><td><kbd>&lt;</kbd></td><td>History back</td></tr>
          <tr><td><kbd>&gt;</kbd></td><td>History forward</td></tr>
      </tbody>
  </table>

  <h4>Toggles &amp; Modes</h4>
  <table>
      <thead>
          <tr><th>Trigger</th><th>Action</th></tr>
      </thead>
      <tbody>
          <tr><td><kbd>l</kbd></td><td>Highlight active line</td></tr>
          <tr><td><kbd>t</kbd></td><td>Toggle theme (light/dark)</td></tr>
          <tr><td><kbd>o</kbd></td><td>Toggle table of contents</td></tr>
          <tr><td><kbd>f</kbd></td><td>Open site search</td></tr>
          <tr><td><kbd>:</kbd></td><td>Open command palette</td></tr>
          <tr><td><kbd>ctrl+p</kbd></td><td>Open command palette</td></tr>
          <tr><td><kbd>Alt+n</kbd></td><td>Next search/command result</td></tr>
          <tr><td><kbd>Alt+p</kbd></td><td>Previous search/command result</td></tr>
          <tr><td><kbd>?</kbd></td><td>Show this shortcuts reference</td></tr>
          <tr><td><kbd>Esc</kbd></td><td>Close overlay / Cancel</td></tr>
      </tbody>
  </table>
  <p>Note: For navigating to the first link under active line, you would need to use scroll motions or toggle active line first.</p>
  <p>For navigating to other links under active line, you would need to use browser keybinds like Tab/Shift Tab to navigate between link items in the DOM.</p>

  <h4>Command Palette</h4>
  <table>
      <thead>
          <tr><th>Trigger</th><th>Action</th></tr>
      </thead>
      <tbody>
          <tr><td><kbd>:N</kbd></td><td>Go to line N</td></tr>
          <tr><td><kbd>:theme &lt;light|dark&gt;</kbd></td><td>Switch theme</td></tr>
          <tr><td><kbd>:edit settings</kbd></td><td>Open settings</td></tr>
          <tr><td><kbd>:q / :x</kbd></td><td>Close all overlays</td></tr>
          <tr><td><kbd>Tab</kbd></td><td>Complete from filtered list</td></tr>
          <tr><td><kbd>Alt+n</kbd> / <kbd>&darr;</kbd></td><td>Next item in list</td></tr>
          <tr><td><kbd>Alt+p</kbd> / <kbd>&uarr;</kbd></td><td>Previous item in list</td></tr>
      </tbody>
  </table>

  <h4>Settings Keyboard Navigation</h4>
  <table>
      <thead>
          <tr><th>Trigger</th><th>Action</th></tr>
      </thead>
      <tbody>
          <tr><td><kbd>j</kbd></td><td>Move to next setting</td></tr>
          <tr><td><kbd>k</kbd></td><td>Move to previous setting</td></tr>
          <tr><td><kbd>Alt+n</kbd></td><td>Move to next setting</td></tr>
          <tr><td><kbd>Alt+p</kbd></td><td>Move to previous setting</td></tr>
          <tr><td><kbd>Enter</kbd></td><td>Activate focused control</td></tr>
      </tbody>
  </table>

  <h3>Toggles</h3>
  <table>
      <thead>
          <tr>
              <th>Trigger</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>l</td>
              <td>Highlight active line</td>
          </tr>
          <tr>
              <td>0</td>
              <td>Toggle theme</td>
          </tr>
      </tbody>
  </table>

  <h3>Disclaimer</h3>
  <blockquote>
    <p>
      All content on this site is based on <em>my personal opinions</em> and experiences. 
      You are free to share and feedback to me about the specific posts, but kindly do so according to the license below.
    </p>
  </blockquote>
</BaseLayout>

<script>
  window.onload = function() {
    const hash = window.location.hash; 

    if (hash === '#shortcuts') {
      setTimeout(() => {
        const targetElement = document.getElementById('shortcuts');
        
        if (targetElement) {
          targetElement.scrollIntoView({
            behavior: 'smooth',
            block: 'start' 
          });
        }
        
        window.history.replaceState(null, null, window.location.pathname);
      }, 100);
    }
  };
</script>
