---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Credits";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This page acknowledges the tools, libraries, and assets that were essential in building this site.</p>
  <h2>Fonts</h2>
  <ul>
    <li>
      <strong><a href="https://departuremono.com" target="_blank" rel="noopener noreferrer">Departure Mono</a></strong>
      <br />
        is a monospaced pixel font by Helena Zhang
      <br />Licensed under the <a href="https://openfontlicense.org" target="_blank" rel="noopener noreferrer">SIL Open Font License</a>
    </li>
    <br>
    <li>
      <strong><a href="" target="_blank" rel="noopener noreferrer">Cascadia Code</a></strong>
      <br />
       is is a fun, new monospaced font that includes programming ligatures<br>
       and is designed to enhance the modern look and feel of the Windows Terminal.  
      <br />Licensed under the <a href="https://openfontlicense.org" target="_blank" rel="noopener noreferrer">SIL Open Font License</a>
    </li>
  </ul>

  <h2>Icons</h2>
  <ul>
      <li>
          <strong><a href="https://lucide.dev/" target="_blank" rel="noopener noreferrer">Lucide Icons</a></strong><br /> a collection of beautiful collection of icons.
          <br />Licensed under the MIT License.
      </li>
  </ul>

  <h2>Colour Scheme</h2>
  <ul>
      <li>
          <strong><a href="/portfolio/posts/flexcyon" rel="noopener noreferrer">flexcyon</a></strong><br /> a theme I made for Obsidian.md.
          <br />Licensed under the MIT License.
      </li>
  </ul>

  <h2>Libraries & Tools</h2>
  <ul>
      <li>
          <strong><a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a></strong>
          <br />
          The web framework used to build this site.
      </li>
      <br>
      <li>
          <strong><a href="https://docs.gitlab.com/ee/user/project/pages/" target="_blank" rel="noopener noreferrer">GitLab Pages</a></strong>
          <br />
          The hosting service for this site.
      </li>
  </ul>
</BaseLayout>
