---
import BaseLayout from "../layouts/BaseLayout.astro";
import Github from '@lucide/astro/icons/github';
import Gitlab from '@lucide/astro/icons/gitlab';
import Rss from '@lucide/astro/icons/rss';
import Mountain from '@lucide/astro/icons/mountain';
import Mail from '@lucide/astro/icons/mail';
import User from '@lucide/astro/icons/user';
import LinkedIn from '@lucide/astro/icons/linkedin';
import CodeXML from '@lucide/astro/icons/code-xml';
import Download from '@lucide/astro/icons/download';
import Keyboard from '@lucide/astro/icons/keyboard';
import { Image } from 'astro:assets';
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="profile">
    <Image alt="Profile Picture" src="/portfolio/profile.png" width="128" height="128"/>
    <div class="profile-desc">
      <p>
        Hi there, I write software I use.
      </p>
      <ul>
        <li>
          css, <a target="_blank" href="/portfolio/posts/vim">vim</a>, linux enjoyer
        </li>
        <li>
          currently a student
        </li>
        <li>
          software developer in the making
        </li>
      </ul>
      <p>
        UTC+8 / EN / zh-CN
      </p>
      <br>
      <a href="/portfolio/resume" target="_blank">
        <p class="foot cta">
          <Download/>
            Download Resume/CV
        </p>
      </a>
      <a href="/portfolio/about#shortcuts" target="_blank">
        <p class="foot cta2">
          <Keyboard/>
            Shortcuts
        </p>
      </a>
      <a href="/portfolio/rss.xml" target="_blank">
        <p class="foot cta3">
          <Rss/>
            RSS Feed
        </p>
      </a>
    </div>
  </div>

  <h2>Current Works</h2>

  <div class="cards">
    <div class="card-item">
      <a target="_blank" href="https://github.com/bladeacer/flexcyon">
        <img src="/portfolio/dark_thumb.webp"/>
      </a>
      <p>
        flexcyon is a reasonably opinionated Obsidian.md theme. About <a target="_blank" href="/portfolio/posts/flexcyon">my thought process</a> while developing it.
      </p>
    </div>

    <div class="card-item">
      <a target="_blank" href="https://github.com/bladeacer/pdf-fmt">
        <img src="/portfolio/pdf-fmt-preview.png"/>
      </a>
      <p>
        <a target="_blank" href="https://github.com/bladeacer/pdf-fmt">pdf-fmt</a> is a PDF text extractor, processor and formatter.
        Supports regex based exclusions and other niceties.
      </p>
    </div>
    <div class="card-item">
      <a target="_blank" href="https://github.com/bladeacer/mnemosync">
        <img src="/portfolio/mmsync-preview.png"/>
      </a>
      <p>
        <a target="_blank" href="https://github.com/bladeacer/mnemosync">mnemosync</a> is a Golang CLI tool that lets you add folders to backup manually to a target Git repository. 
      </p>
    </div>
  </div>

  <h2>Tech Stack</h2>
  <div class="profile-2">
    <div>
      <h3>Frontend</h3>
      <p class="skill-icons">
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML">
          <Image alt="HTML Skill Icon" src="https://skillicons.dev/icons?i=html" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS">
          <Image alt="CSS Skill Icon" src="https://skillicons.dev/icons?i=css" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://sass-lang.com">
          <Image alt="SASS Skill Icon" src="https://skillicons.dev/icons?i=sass" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://getbootstrap.com">
          <Image alt="Bootstrap Skill Icon" src="https://skillicons.dev/icons?i=bootstrap" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://www.figma.com">
          <Image alt="Figma Skill Icon" src="https://skillicons.dev/icons?i=figma" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
          <Image alt="JavaScript Skill Icon" src="https://skillicons.dev/icons?i=js" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://react.dev">
          <Image alt="React Skill Icon" src="https://skillicons.dev/icons?i=react" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://nodejs.org/en">
          <Image alt="NodeJS Skill Icon" src="https://skillicons.dev/icons?i=nodejs" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://www.postman.com/">
          <Image alt="Postman Skill Icon" src="https://skillicons.dev/icons?i=postman" width="48" height="48"/>
        </a>
      </p>
    </div>
    <div>
      <h3>Languages</h3>
      <p class="skill-icons">
        <a target="_blank" href="https://www.python.org/">
          <Image alt="Python Skill Icon" src="https://skillicons.dev/icons?i=python" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://kotlinlang.org/">
          <Image alt="Kotlin Skill Icon" src="https://skillicons.dev/icons?i=kotlin" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://dotnet.microsoft.com/en-us/languages/csharp">
          <Image alt="C# Skill Icon" src="https://skillicons.dev/icons?i=cs" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://www.gnu.org/software/bash/">
          <Image alt="Bash Skill Icon" src="https://skillicons.dev/icons?i=bash" width="48" height="48"/>
        </a>
      </p>
    </div>
    <div>
      <h3>Databases</h3>
      <p class="skill-icons">
        <a target="_blank" href="https://www.mysql.com/">
          <Image alt="MySQL Skill Icon" src="https://skillicons.dev/icons?i=mysql" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://sqlite.org/">
          <Image alt="SQLite Skill Icon" src="https://skillicons.dev/icons?i=sqlite" width="48" height="48"/>
        </a>
        <a target="_blank" href="https://sequelize.org/">
          <Image alt="Sequelize Skill Icon" src="https://skillicons.dev/icons?i=sequelize" width="48" height="48"/>
        </a>
      </p>
    </div>
    <div>
      <h3>Containerisation</h3>
      <p class="skill-icons">
        <a target="_blank" href="https://www.docker.com/">
          <Image alt="Docker Skill Icon" src="https://skillicons.dev/icons?i=docker" width="48" height="48"/>
        </a>
      </p>
    </div>
  </div>
  <h2>Find me on</h2>
  <p>Feel free to connect or reach out to me via these channels.</p>
  <div class="profile-3">
    <p class="foot">
      <Mail/>
      <a target="_blank" href="mailto:wg.nick.exe@gmail.com" target="_blank">Email</a>
    </p>
    <p class="foot">
      <LinkedIn/>
      <a target="_blank" href="https://www.linkedin.com/in/nicholas-wen-a525832b2/" target="_blank">LinkedIn</a>
    </p>
    <p class="foot">
      <User/>
      <a target="_blank" href="https://gravatar.com/objectoriginal8f1e7ecf6f" target="_blank">Gravatar</a>
    </p>
    <p class="foot">
      <Github/>
      <a target="_blank" href="https://github.com/bladeacer" target="_blank">GitHub</a>
    </p>
    <p class="foot">
      <Gitlab/>
      <a target="_blank" href="https://gitlab.com/bladeacer" target="_blank">GitLab</a>
    </p>
    <p class="foot">
      <Mountain/>
      <a target="_blank" href="https://codeberg.org/bladeacer" target="_blank">Codeberg</a>
    </p>
  </div>
</BaseLayout>
