---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "bladeacer's Portfolio";
---
<BaseLayout pageTitle={pageTitle}>
  <p>WIP</p>
  <h3>About the Site</h3>
  <p>
    This site's content is licensed under the CC BY-SA 4.0 license.
    There is a link to the license text you can click at the footer.
  </p>
  <p>
    This site's source code is licensed under the MIT license.
  </p>
  <p>
  The source code is available on
  <a href="https://gitlab.com/bladeacer/portfolio" target="_blank">GitLab</a> and as a mirror on
  <a href="https://github.com/bladeacer/portfolio" target="_blank">GitHub</a>.
  </p>
</BaseLayout>
