---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from 'astro-icon/components'
import User from '@lucide/astro/icons/user';
import Network from '@lucide/astro/icons/network';
import CodeXML from '@lucide/astro/icons/code-xml';
import Download from '@lucide/astro/icons/download';
import Keyboard from '@lucide/astro/icons/keyboard';
import { Image } from 'astro:assets';
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="profile">
    <Image alt="Profile Picture" src="/portfolio/profile.png" width="128" height="128"/>
    <div class="profile-desc">
      <p>
        Hi there, I write software I use.
      </p>
      <ul>
        <li>
          css, <a target="_blank" href="/portfolio/posts/vim">vim</a>, linux enjoyer
        </li>
        <li>
          currently a student
        </li>
        <li>
          software developer in the making
        </li>
      </ul>
      <p>
        UTC+8 / EN / zh-CN
      </p>
      <br>
      <a href="/portfolio/resume" target="_blank">
        <p class="foot cta">
          <Download/>
            Download Resume/CV
        </p>
      </a>
      <a href="/portfolio/about#shortcuts" target="_blank">
        <p class="foot cta2">
          <Keyboard/>
            Shortcuts
        </p>
      </a>
      <a href="/portfolio/rss.xml" target="_blank">
        <p class="foot cta3">
          <Icon name="simple-icons:rss"/>
            RSS Feed
        </p>
      </a>
    </div>
  </div>

  <h2>Current Works</h2>

  <div class="cards">
    <div class="card-item">
      <a target="_blank" href="https://github.com/bladeacer/flexcyon">
        <img src="/portfolio/dark_thumb.webp"/>
      </a>
      <p>
        flexcyon is a reasonably opinionated Obsidian.md theme. About <a target="_blank" href="/portfolio/posts/flexcyon">my thought process</a> while developing it.
      </p>
    </div>

    <div class="card-item">
      <a target="_blank" href="https://github.com/bladeacer/pdf-fmt">
        <img src="/portfolio/pdf-fmt-preview.png"/>
      </a>
      <p>
        <a target="_blank" href="https://github.com/bladeacer/pdf-fmt">pdf-fmt</a> is a PDF text extractor, processor and formatter.
        About <a target="_blank" href="/portfolio/posts/pdf-fmt">my thought process</a> while developing it.
      </p>
    </div>
    <div class="card-item">
      <a target="_blank" href="https://codeberg.org/bladeacer/yams">
        <img src="/portfolio/yams-preview.webp"/>
      </a>
      <p>
        <a target="_blank" href="https://codeberg.org/bladeacer/yams">yams</a>, short for Yet Another Media Screensaver, is a CLI tool written with ncurses and C.  It lets you view media status and perform basic controls via <kbd>playerctl</kbd>.
      </p>
    </div>
    <div class="card-item">
      <a target="_blank" href="https://github.com/bladeacer/mnemosync">
        <img src="/portfolio/mmsync-preview.png"/>
      </a>
      <p>
        <a target="_blank" href="https://github.com/bladeacer/mnemosync">mnemosync</a> is a Golang CLI tool that lets you add folders to backup manually to a target Git repository. 
      </p>
    </div>
  </div>

  <h2>Tech Stack</h2>

  <div class="profile-2">
    <div>
      <h3>Frontend</h3>
      <p class="skill-icons">
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML">
          <Icon name="simple-icons:html5"/>
        </a>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS">
          <Icon name="simple-icons:css"/>
        </a>
        <a target="_blank" href="https://sass-lang.com">
          <Icon name="simple-icons:sass"/>
        </a>
        <a target="_blank" href="https://getbootstrap.com">
          <Icon name="simple-icons:bootstrap"/>
        </a>
        <a target="_blank" href="https://www.figma.com">
          <Icon name="simple-icons:figma"/>
        </a>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
          <Icon name="simple-icons:javascript"/>
        </a>
        <a target="_blank" href="https://react.dev">
          <Icon name="simple-icons:react"/>
        </a>
        <a target="_blank" href="https://nodejs.org/en">
          <Icon name="simple-icons:nodedotjs"/>
        </a>
        <a target="_blank" href="https://www.postman.com/">
          <Icon name="simple-icons:postman"/>
        </a>
      </p>
    </div>

    <div>
      <h3>Languages</h3>
      <p class="skill-icons">
        <a target="_blank" href="https://www.python.org/">
          <Icon name="simple-icons:python"/>
        </a>
        <a target="_blank" href="https://kotlinlang.org/">
          <Icon name="simple-icons:kotlin"/>
        </a>
        <a target="_blank" href="https://dotnet.microsoft.com/en-us/languages/csharp">
          <Icon name="simple-icons:dotnet"/>
        </a>
        <a target="_blank" href="https://www.gnu.org/software/bash/">
          <Icon name="simple-icons:gnubash"/>
        </a>
      </p>
    </div>

    <div>
      <h3>Databases</h3>
      <p class="skill-icons">
        <a target="_blank" href="https://www.mysql.com/">
          <Icon name="simple-icons:mysql"/>
        </a>
        <a target="_blank" href="https://sqlite.org/">
          <Icon name="simple-icons:sqlite"/>
        </a>
        <a target="_blank" href="https://sequelize.org/">
          <Icon name="simple-icons:sequelize"/>
        </a>
      </p>
    </div>
  </div>

  <h2>Find me on</h2>
  <p>Feel free to connect or reach out to me via these channels.</p>
  <div class="profile-3">
    <p class="foot">
      <Icon name="simple-icons:gmail"/>
      <a target="_blank" href="mailto:wg.nick.exe@gmail.com" target="_blank">Email</a>
    </p>
    <p class="foot">
      <User/>
      <a target="_blank" href="https://gravatar.com/objectoriginal8f1e7ecf6f" target="_blank">Gravatar</a>
    </p>
    <p class="foot">
      <Network/>
      <a target="_blank" href="https://www.linkedin.com/in/nicholas-wen-a525832b2/" target="_blank">LinkedIn</a>
    </p>
  </div>
  <div class="profile-3">
    <p class="foot">
      <Icon name="simple-icons:matrix"/>
      <a target="_blank" href="https://matrix.to/#/@bladeacer:matrix.org" target="_blank">Matrix</a>
    </p>
    <p class="foot">
      <Icon name="simple-icons:discord"/>
      <a target="_blank" href="https://discord.com/users/695109107861946409" target="_blank">Discord</a>
    </p>
  </div>
  <div class="profile-3">
    <p class="foot">
      <Icon name="simple-icons:github"/>
      <a target="_blank" href="https://github.com/bladeacer" target="_blank">GitHub</a>
    </p>
    <p class="foot">
      <Icon name="simple-icons:gitlab"/>
      <a target="_blank" href="https://gitlab.com/bladeacer" target="_blank">GitLab</a>
    </p>
    <p class="foot">
      <Icon name="simple-icons:codeberg"/>
      <a target="_blank" href="https://codeberg.org/bladeacer" target="_blank">Codeberg</a>
    </p>
  </div>
</BaseLayout>
