---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "bladeacer's Portfolio";
---
<BaseLayout pageTitle={pageTitle}>
  <p> 
    WIP. I plan to write about my portfolio, projects and other experiences I had in this site.
    Viewing experience for this site is <strong>more optimised on desktop</strong>. tablets and larger devices.
  </p>
  <p>I do write drafts on here from this time. They may be in various states of completion.</p>

  <h3>Disclaimer</h3>
  <blockquote>
    <p>
      All content on this site is based on <em>my personal opinions</em> and experiences. 
      You are free to share and feedback to me about the specific posts, but kindly do so according to the license below.
    </p>
  </blockquote>
  <h3>License</h3>
  <p>
    This site's content is licensed under the <strong>CC BY-SA 4.0 license</strong>.  There is a link to the license text you can click at the footer.
  </p>
  <p>
    This site's source code is licensed under the <strong>MIT license</strong>.
  </p>
  The source code is available on
  <a href="https://gitlab.com/bladeacer/portfolio" target="_blank">GitLab</a> and as a mirror on
  <a href="https://github.com/bladeacer/portfolio" target="_blank">GitHub</a>.
  </p>
</BaseLayout>
