---
import Copyright from '@lucide/astro/icons/copyright';
import Scale from '@lucide/astro/icons/scale';
import Heart from '@lucide/astro/icons/heart';
const currentYear = new Date().getFullYear();
---

<footer>
  <a href="https://github.com/bladeacer" target="_blank">
    <Copyright/>
    bladeacer {currentYear}
  </a>
  <a href="https://gitlab.com/bladeacer/portfolio/-/blob/master/LICENSE.CC-BY-SA" target="_blank">
    <Scale/>
    CC BY-SA 4.0
  </a>
  <a href="/portfolio/credits">
    <Heart/>
    Credits
  </a>
</footer>
