---
import Social from "./Social.astro";
import Github from '@lucide/astro/icons/github';
import Gitlab from '@lucide/astro/icons/gitlab';
import Copyright from '@lucide/astro/icons/copyright';
import Scale from '@lucide/astro/icons/scale';
---

<style>
  footer {
    display: flex;
    gap: 0.75rem;
    margin: 0 auto;
    margin-top: 12rem;
    align-items: center;
    jusitfy-content: center;
    width: 60%;
  }
  footer svg {
    margin-left: 0.75rem;
  }
  footer span {
    margin-top: 1px;
  }
</style>

<footer>

  <Github size={36} />
  <Social platform="github" username="bladeacer" />
  <Gitlab size={36} />
  <Social platform="gitlab" username="bladeacer" />
  <Scale size={36} />
  <span>
    <a href="https://gitlab.com/bladeacer/portfolio/-/blob/master/LICENSE">CC BY-SA 4.0</a>
  </span>
</footer>
