---
import Copyright from '@lucide/astro/icons/copyright';
import Scale from '@lucide/astro/icons/scale';
import Type from '@lucide/astro/icons/type';
const currentYear = new Date().getFullYear();
---

<footer>
  <Copyright/>
  <span>
    bladeacer {currentYear}
  </span>
  <Scale/>
  <span>
    <a href="https://gitlab.com/bladeacer/portfolio/-/blob/master/LICENSE" target="_blank">CC BY-SA 4.0</a>
  </span>
  <Type/>
  <span>
    <a href="https://departuremono.com/" target="_blank">DepatureMono</a>
  </span>
</footer>
