---
import ThemeIcon from "./ThemeIcon.astro"
import Search from '@lucide/astro/icons/search';
---

<ThemeIcon />
<button id="search-icon-btn" class="search-icon-btn" aria-label="Search site (f)">
  <Search size="36" />
  <p>[f]ind</p>
</button>
<div class="nav-links">
  <a href="/portfolio">[h]ome</a>
  <a href="/portfolio/about/">[a]bout</a>
  <a href="/portfolio/digital-garden/">[d]igital garden</a>
  <a href="/portfolio/credits/">[c]redits</a>
  <a href="/portfolio/tags/">[8]tags</a>
  <a href="/portfolio/settings/">[s]ettings</a>
</div>
