---
import Sparkles from '@lucide/astro/icons/sparkles';
import Moon from '@lucide/astro/icons/moon';
---

<button id="themeToggle">
  <Sparkles class="sun" size="36"/>
  <Moon class="moon" size="36"/>
  <p>
    Toggle
  </p>
</button>

<script is:inline>
  const htmlElement = document.documentElement;

  const applyTheme = (theme) => {
    if (theme === "dark") {
      htmlElement.classList.add("dark");
    } else {
      htmlElement.classList.remove("dark");
    }
  };

  window.toggleTheme = function() {
    const isDark = htmlElement.classList.toggle("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  const getInitialTheme = () => {
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme === "dark" || savedTheme === "light") {
      return savedTheme;
    }

    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }

    return "light";
  };

  const initialTheme = getInitialTheme();
  applyTheme(initialTheme);

  // Listen for System/OS changes
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (e) => {
    if (!localStorage.getItem("theme")) {
      const newSystemTheme = e.matches ? "dark" : "light";
      applyTheme(newSystemTheme);
    }
  });

  document.addEventListener("DOMContentLoaded", () => {
    document
      .getElementById("themeToggle")
      ?.addEventListener("click", window.toggleTheme);
  });
</script>
